<h1>New To-do Item</h1>
<%= form_for @list do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %>
	<%= f.label :description %>
	<%= f.text_field :description %>
	<%= f.label :complete %>
	<%= f.check_box :complete %>
	<%= f.submit %>
<% end %>
